<ion-view title="J Ghosh Health Chart" id="page2" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
<form id="jghoshhealthchart" class="list">
          <h3 id="heading1" style="color:#000000;font-weight:400;text-align:center;">Pulse</h3>
      <label class="item item-input" id="pulse" name="Pulse">
        <span class="input-label">Pulse</span>
        <input type="number" placeholder="">
      </label>
          <h3 id="heading2" style="color:#000000;font-weight:400;text-align:center;">Saturation</h3>
      <label class="item item-input" id="saturation" name="Saturation">
        <span class="input-label">Saturation</span>
        <input type="number" placeholder="">
      </label>
      <h3 id="heading3" style="color:#000000;font-weight:400;text-align:center;">Blood Pressure</h3>
      <label class="item item-input" id="Systolic" name="Systolic">
        <span class="input-label">Systolic</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="Diastolic" name="Diastolic">
        <span class="input-label">Diastolic</span>
        <input type="number" placeholder="">
      </label>
          <h3 id="heading4" style="color:#000000;font-weight:400;text-align:center;">Sugar</h3>
      <label class="item item-input" id="sugar" name="Sugar">
        <span class="input-label">Sugar</span>
        <input type="number" placeholder="">
      </label>
          <h3 id="heading5" style="color:#000000;font-weight:400;text-align:center;">Weight</h3>
      <label class="item item-input" id="weight" name="Weight">
        <span class="input-label">Weight</span>
        <input type="number" placeholder="">
      </label>
          <h3 id="heading6" style="color:#000000;font-weight:400;text-align:center;">O2</h3>
      <label class="item item-input" id="startTimeO2" name="startTimeO2">
        <span class="input-label">Start Time</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="endTimeO2" name="endTmeO2">
        <span class="input-label">End Time</span>
        <input type="time" placeholder="">
      </label>
          <h3 id="heading7" style="color:#000000;font-weight:400;text-align:center;">NIV</h3>
      <label class="item item-input" id="startTimeNIV" name="startTimeNIV">
        <span class="input-label">Start Time</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="endTimeNIV" name="endTmeNIV">
        <span class="input-label">End Time</span>
        <input type="time" placeholder="">
      </label>
          <h3 id="heading8" style="color:#000000;font-weight:400;text-align:center;">Heading</h3>
      <label class="item item-input" id="page-textarea2" name="Comments">
        <span class="input-label">Comments</span><textarea placeholder=""></textarea></label>
    </form>
      <button id="page-button11" style="font-weight:500;" class="button button-positive button-block">SUBMIT</button>
        </ion-content>
</ion-view>